<%- include('partials/header') %>
<a class="btn btn-light" href="/" role="button">LOGO</a>

<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<a class="btn btn-light btn-lg" href="/profile" role="button"><%= firstName %></a>

<div class="container mt-5">
  <h1>Create Room</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/create" method="POST">
            <div class="form-group">
              <label>Room ID</label>
              <input type="text" class="form-control" name="roomid">
            </div>
            <div class="form-group">
              <label>Room Name</label>
              <input type="text" class="form-control" name="roomName">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>

            <input type="hidden" name="userName" value="<%=username%>">
            <input type="hidden" name="firstName" value="<%=firstName%>">
            <input type="hidden" name="lastName" value="<%=lastName%>">


            <button type="submit" class="btn btn-dark">Create Room</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
