<%- include('partials/header') %>
<a class="btn btn-light" href="/" role="button">LOGO</a>

<div class="jumbotron text-center">
  <div class="container">
    <h2> Hello <%= firstName %> <%= lastName %> </h2>
    <h3> Your User ID is: <%= username %> </h3>
    <h3> Your Email ID is: <%= email %> </h3>

    <h1> This is the Profile Page</h1>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-light btn-lg" href="/profile" role="button"><%= firstName %></a>

    <br><br>
    <h4>The rooms that you are currently part of are: </h4>
    <% if(typeof(rooms)==="undefined" || rooms.length===0 ){ %>
      <p>None</p>
    <% }else{ %>
    <% for(var i=0 ; i<rooms.length ; i++){ %>
      <p>Room Name:<%= rooms[i].roomName %> ||  Room Id:<%= rooms[i].roomid %></p><br>
    <% } }%>

    <a class="btn btn-light btn-lg" href="/createRoom" role="button">Create Room</a>
    <a class="btn btn-light btn-lg" href="/joinRoom" role="button">Join Room</a>

    </div>
</div>

<%- include('partials/footer') %>
